<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
		<!--本地路径,服务器需要根据是否有这个盘符来更改对应的盘符-->
		<add key="path" value="D:\" />
		<!--是否自己配置时间，默认是false,晚上9点定时运行。如果是true，则下面配置的minute每多少分钟执行一次-->
		<add key="isConfigCustomTime" value="false"/>
		<add key="minute" value="1" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>